<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>News Feeds</title>
    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/main.js"></script>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="add-news-form">
    <form>
        <h2>Добавление новости</h2>

        <label for="add-name"><b>Заголовок:</b></label>
        <input class="add-name" id="add-name" name="name" required="required" type="text" value="">
        <style>input.add-name {
            width: 270px;
        }</style>

        <label for="add-text"><b>Текст:</b></label>
        <textarea cols="40" id="add-text" name="text" required="required" rows="3"></textarea>

        <label for="add-category"><b>Категория:</b></label>
        <input class="add-category" id="add-category" name="category" required="required" type="text" value="">
        <style>input.add-category {
            width: 270px;
        }</style>
        <hr>
        <button id="save-news">Сохранить</button>
    </form>
</div>
<div id="put-news-form">
    <form>
        <h2>Изменение задачи</h2>

        <input hidden id="news-id" name="id" type="number">

        <label for="news-name">Заголовок:</label>
        <input class="put-name" id="news-name" name="name" required="required" type="text">
        <style>input.put-name {
            width: 270px;
        }</style>

        <label for="news-text">Текст:</label>
        <input class="put-text" id="news-text" name="text" required="required" type="text">
        <style>input.put-text {
            width: 270px;
        }</style>

        <label for="category">Категория:</label>
        <input class="put-category" id="category" name="category" required="required" type="text">
        <style>input.put-category {
            width: 270px;
        }</style>
        <hr>
        <button id="put-news-save">Сохранить изменения</button>
    </form>
</div>
<h1>Лента новостей<span th:text="${current_category}"></span>:</h1>
<div id="categories-list">
    <a th:each="category : ${all_categories}">
        <a class="category-news-link" href="/category/" th:attr="data-id=${category.id}"
           th:text="${category.name} "></a>
    </a>
</div>
<br><br>
<div id="search-form">
    <form>
        <label for="text"></label>
        <input id="text" type="text">
        <button id="search-button">Поиск</button>
    </form>
</div>
<br><br>
<th:block th:unless="${current_category}">
    <button id="show-add-news-form">Добавить новость</button>
    <br><br>
</th:block>

<div id="all-news-list">
    <ul th:each="news : ${all_news}">
        <a class="news-link" style="text-decoration: underline" th:attr="data-id=${news.id}" th:text="${news.name}"></a>
        <th:block th:unless="${current_category}">
            <input th:onclick="'put_news(' + ${news.id} + ')'" type="button" value="Изменить новость">
            <input th:onclick="'delete_news(' + ${news.id} + ')'" type="button" value="Удалить новость">
        </th:block>
        <th:block th:if="${current_category}">
            <li th:text="'Категория: ' + ${news.category}"></li>
            <li th:text="'Дата: ' + ${news.date}"></li>
            <li th:text="'Текст новости: ' + ${news.text}"></li>
        </th:block>
    </ul>
</div>
</body>
</html>